In [14]:
import pandas as pd
import sqlalchemy

In [15]:
file = "./Data/pll-player-stats.csv"
pll_df = pd.read_csv(file)

In [16]:
pll_df

,First Name,Last Name,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,...,2pt GAA,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against
0,TJ,Comizio,44.0,SSDM,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
1,Nick,Manis,20.0,M,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
2,Nick,Grill,NaN,D,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
3,Drew,Simoneau,5.0,FO,3,0,0,0,0,0,...,0,0,2,0,0,0,0,0,NaN,0
4,Will,Perry,10.0,M,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Mark,McNeill,21.0,SSDM,9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,0
256,Marcus,Holman,1.0,A,9,24,16,16,0,8,...,0,0,1,0,1,3,0,1,NaN,0
257,Drew,Adams,14.0,G,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,2
258,Dominique,Alexander,23.0,SSDM,9,3,2,2,0,1,...,0,0,3,0,0,0,0,0,NaN,0
259,Adam,Ghitelman,8.0,G,9,3,1,0,1,1,...,0,0,1,0,0,0,0,0,NaN,2

In [17]:
#adding first and last name column, dropping individual columns
pll_df['Name'] = pll_df['First Name'].str.cat(pll_df['Last Name'],sep=" ")
pll_df = pll_df.drop(columns=['First Name', 'Last Name'])
pll_df

,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,Shots,Shot Pct,...,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against,Name
0,44.0,SSDM,1,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,NaN,0,TJ Comizio
1,20.0,M,1,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,NaN,0,Nick Manis
2,NaN,D,2,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,NaN,0,Nick Grill
3,5.0,FO,3,0,0,0,0,0,2,0.000000,...,0,2,0,0,0,0,0,NaN,0,Drew Simoneau
4,10.0,M,2,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,NaN,0,Will Perry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,21.0,SSDM,9,0,0,0,0,0,2,0.000000,...,0,0,0,0,1,0,0,NaN,0,Mark McNeill
256,1.0,A,9,24,16,16,0,8,50,0.320000,...,0,1,0,1,3,0,1,NaN,0,Marcus Holman
257,14.0,G,9,0,0,0,0,0,1,0.000000,...,0,0,0,0,0,0,0,NaN,2,Drew Adams
258,23.0,SSDM,9,3,2,2,0,1,2,1.000000,...,0,3,0,0,0,0,0,NaN,0,Dominique Alexander
259,8.0,G,9,3,1,0,1,1,6,0.166667,...,0,1,0,0,0,0,0,NaN,2,Adam Ghitelman

In [18]:
#reformatting jersey column
pll_df['Jersey'] = pll_df['Jersey'].map("{:.0f}".format)
pll_df.head()

,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,Shots,Shot Pct,...,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against,Name
0,44,SSDM,1,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,NaN,0,TJ Comizio
1,20,M,1,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,NaN,0,Nick Manis
2,nan,D,2,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,NaN,0,Nick Grill
3,5,FO,3,0,0,0,0,0,2,0.0,...,0,2,0,0,0,0,0,NaN,0,Drew Simoneau
4,10,M,2,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,NaN,0,Will Perry

In [19]:
#creating df of FOGOs
faceoff_df = pll_df[pll_df['Position'] == 'FO']
faceoff_df = faceoff_df[['Name', 'Position', 'Faceoffs', 'Faceoff Wins', 'Faceoff Losses', 'Faceoff Pct']]
faceoff_df.head()

,Name,Position,Faceoffs,Faceoff Wins,Faceoff Losses,Faceoff Pct
3,Drew Simoneau,FO,74,31,43,0.418919
5,Peyton Smith,FO,24,9,15,0.375000
15,Gerard Arceri,FO,0,0,0,0.000000
23,Noah Rak,FO,0,0,0,0.000000
25,Casey Dowd,FO,0,0,0,0.000000

In [20]:
faceoff_df.to_csv('./Data/fogo.csv', index=False)

In [21]:
#creating df of Attackmen
attack_df = pll_df[pll_df['Position'] == 'A']
attack_df = attack_df[['Name', 'Position', 'Games Played', 'Total Goals', 'Shots', 'Shot Pct', 'Assists', 'Points']]
attack_df.head()

,Name,Position,Games Played,Total Goals,Shots,Shot Pct,Assists,Points
7,Bryce Wasserman,A,2,0,2,0.0,0,0
10,Brendan Sunday,A,3,1,5,0.2,1,2
12,John Uppgren,A,2,0,4,0.0,0,0
38,Nate Solomon,A,0,0,0,0.0,0,0
42,Randy Staats,A,0,0,0,0.0,0,0

In [22]:
attack_df.to_csv('./Data/attack.csv', index=False)

In [30]:
points_df = pll_df.sort_values(by='Points', ascending=False)
points_df.head()

,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,Shots,Shot Pct,...,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against,Name
247,16,A,9,35,13,13,0,22,39,0.333333,...,0,0,0,0,0,0,0,NaN,0,Grant Ament
150,15,M,9,32,14,13,1,17,39,0.358974,...,0,0,0,1,3,0,0,NaN,0,Myles Jones
220,4,A,9,32,22,22,0,10,67,0.328358,...,0,2,0,0,3,1,1,NaN,0,Lyle Thompson
195,7,A,7,32,16,16,0,16,40,0.400000,...,0,0,0,0,0,0,0,NaN,0,Jeff Teat
138,3,A,9,29,13,13,0,16,68,0.191176,...,0,3,0,1,4,0,0,NaN,0,Rob Pannell

In [31]:
points_df = points_df[['Name', 'Position', 'Games Played', 'Total Goals', 'Shots', 'Shot Pct', 'Assists', 'Points']]
points_df

,Name,Position,Games Played,Total Goals,Shots,Shot Pct,Assists,Points
247,Grant Ament,A,9,13,39,0.333333,22,35
150,Myles Jones,M,9,14,39,0.358974,17,32
220,Lyle Thompson,A,9,22,67,0.328358,10,32
195,Jeff Teat,A,7,16,40,0.400000,16,32
138,Rob Pannell,A,9,13,68,0.191176,16,29
...,...,...,...,...,...,...,...,...
147,Jack Kelly,G,9,0,0,0.000000,0,0
146,Jack Near,SSDM,7,0,5,0.000000,0,0
145,John Sexton,LSM,8,0,3,0.000000,0,0
69,Chris Price,D,0,0,0,0.000000,0,0
0,TJ Comizio,SSDM,1,0,0,0.000000,0,0

In [32]:
point_leaders = points_df.head(10)
point_leaders

,Name,Position,Games Played,Total Goals,Shots,Shot Pct,Assists,Points
247,Grant Ament,A,9,13,39,0.333333,22,35
150,Myles Jones,M,9,14,39,0.358974,17,32
220,Lyle Thompson,A,9,22,67,0.328358,10,32
195,Jeff Teat,A,7,16,40,0.400000,16,32
138,Rob Pannell,A,9,13,68,0.191176,16,29
185,Josh Byrne,A,9,17,67,0.253731,12,29
202,Bryan Costabile,M,9,18,63,0.285714,7,28
250,Tom Schreiber,M,9,14,64,0.218750,13,27
249,Will Manny,A,9,19,50,0.380000,7,26
228,Paul Rabil,M,9,18,50,0.360000,6,26

In [33]:
point_leaders.to_csv('./Data/points.csv', index=False)