In [1]:
import pandas as pd
import sqlalchemy

In [17]:
file = "./Data/pll-player-stats.csv"
pll_df = pd.read_csv(file)

In [18]:
pll_df

,First Name,Last Name,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,...,2pt GAA,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against
0,TJ,Comizio,44.0,SSDM,1,0,0,0,0,0,...,0,0,0,0.0,0,0,0,0,NaN,0
1,Dylan,Molloy,17.0,A,2,6,4,4,0,2,...,0,0,1,0.5,0,0,0,0,NaN,0
2,Dominique,Alexander,23.0,SSDM,8,3,2,2,0,1,...,0,0,2,1.5,0,0,0,0,NaN,0
3,Christian,Cuccinello,30.0,A,2,1,0,0,0,1,...,0,0,0,0.0,0,0,0,0,NaN,0
4,Peyton,Smith,8.0,FO,1,0,0,0,0,0,...,0,0,0,0.0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,Brodie,Merrill,17.0,D,8,0,0,0,0,0,...,0,0,2,2.0,0,0,0,0,NaN,0
255,Jack,Kielty,40.0,D,8,0,0,0,0,0,...,0,0,0,0.0,0,0,0,0,NaN,0
256,Holden,Garlent,70.0,D,8,2,1,1,0,1,...,0,0,5,8.5,0,0,0,0,NaN,0
257,Jarrod,Neumann,88.0,D,8,2,0,0,0,2,...,0,0,0,0.0,0,0,0,0,NaN,0
258,Chris,Cloutier,45.0,A,8,17,11,11,0,6,...,0,0,2,5.5,0,1,0,0,NaN,0

In [29]:
#adding first and last name column, dropping individual columns
pll_df['Name'] = pll_df['First Name'].str.cat(pll_df['Last Name'],sep=" ")
pll_df = pll_df.drop(columns=['First Name', 'Last Name'])
pll_df

,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,Shots,Shot Pct,...,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against,Name
0,44.0,SSDM,1,0,0,0,0,0,0,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,TJ Comizio
1,17.0,A,2,6,4,4,0,2,14,0.285714,...,0,1,0.5,0,0,0,0,NaN,0,Dylan Molloy
2,23.0,SSDM,8,3,2,2,0,1,2,1.000000,...,0,2,1.5,0,0,0,0,NaN,0,Dominique Alexander
3,30.0,A,2,1,0,0,0,1,3,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Christian Cuccinello
4,8.0,FO,1,0,0,0,0,0,0,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Peyton Smith
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,17.0,D,8,0,0,0,0,0,0,0.000000,...,0,2,2.0,0,0,0,0,NaN,0,Brodie Merrill
255,40.0,D,8,0,0,0,0,0,1,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Jack Kielty
256,70.0,D,8,2,1,1,0,1,2,0.500000,...,0,5,8.5,0,0,0,0,NaN,0,Holden Garlent
257,88.0,D,8,2,0,0,0,2,5,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Jarrod Neumann
258,45.0,A,8,17,11,11,0,6,30,0.366667,...,0,2,5.5,0,1,0,0,NaN,0,Chris Cloutier

In [30]:
#reformatting jersey column
pll_df['Jersey'] = pll_df['Jersey'].map("{:.0f}".format)
pll_df.head()

,Jersey,Position,Games Played,Points,Total Goals,1pt Goals,2pt Goals,Assists,Shots,Shot Pct,...,Time On Field,Total Penalties,Penalty Minutes,Power Play Goals,Power Play Shots,Short Handed Goals,Short Handed Shots,Short Handed Goals Against,Power Play Goals Against,Name
0,44,SSDM,1,0,0,0,0,0,0,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,TJ Comizio
1,17,A,2,6,4,4,0,2,14,0.285714,...,0,1,0.5,0,0,0,0,NaN,0,Dylan Molloy
2,23,SSDM,8,3,2,2,0,1,2,1.000000,...,0,2,1.5,0,0,0,0,NaN,0,Dominique Alexander
3,30,A,2,1,0,0,0,1,3,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Christian Cuccinello
4,8,FO,1,0,0,0,0,0,0,0.000000,...,0,0,0.0,0,0,0,0,NaN,0,Peyton Smith

In [36]:
#creating df of FOGOs
faceoff_df = pll_df[pll_df['Position'] == 'FO']
faceoff_df = faceoff_df[['Name', 'Position', 'Faceoffs', 'Faceoff Wins', 'Faceoff Losses', 'Faceoff Pct']]
faceoff_df.head()

,Name,Position,Faceoffs,Faceoff Wins,Faceoff Losses,Faceoff Pct
4,Peyton Smith,FO,24,9,15,0.375000
11,Drew Simoneau,FO,74,31,43,0.418919
16,Kevin Reisman,FO,82,30,52,0.365854
18,Connor Farrell,FO,192,88,104,0.458333
61,TD Ierlan,FO,203,132,71,0.650246

In [37]:
faceoff_df.to_csv('./Data/fogo.csv', index=False)

In [38]:
#creating df of Attackmen
attack_df = pll_df[pll_df['Position'] == 'A']
attack_df = attack_df[['Name', 'Position', 'Games Played', 'Total Goals', 'Shots', 'Shot Pct', 'Assists']]
attack_df.head()

,Name,Position,Games Played,Total Goals,Shots,Shot Pct,Assists
1,Dylan Molloy,A,2,4,14,0.285714,2
3,Christian Cuccinello,A,2,0,3,0.000000,1
8,Justin Guterding,A,7,5,32,0.156250,2
22,Bryce Wasserman,A,2,0,2,0.000000,0
26,Ryan Drenner,A,8,18,46,0.391304,3

In [39]:
attack_df.to_csv('./Data/attack.csv', index=False)